# Ignore everything in a root
/*
# But not files with extension .tex or .pdf
/*
!/*.tex
!/*.pdf
!/*/
/*/**/*
!/*/**/
!/*/**/*.tex
!/*/**/*.pdf
!/*.tex
!/*.pdf
!/*.
!/*.png
!*.jpg
!*/*.json
!*/Dockerfile